leanpkg.path
*.olean

demo.gif
demo.mp4

/luapath
/packpath
/pack

/lua/tests/fixtures/example-project/build
/lua/tests/fixtures/example-project/foo/build
/lua/tests/lean3/fixtures/example-project/_target

doc/tags
luacov.*.out
