name: Performance Benchmarks

on:
  workflow_dispatch:

permissions: {}

jobs:
  profile-test:
    name: Test Suite Runtime
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true
      - name: Install dependencies
        run: brew install elan-init just neovim hyperfine

      # FIXME: the test suite currently depends on this being nonempty...
      - name: Set a default toolchain
        run: elan default stable

      - name: Profile the test suite
        run: |
          mkdir output
          just profile-test --show-output --export-json output/results.json --export-markdown "$GITHUB_STEP_SUMMARY"

      - name: Upload benchmark results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: profile-test
          path: output/results.json
