name: Tests

on:
  push:
    branches-ignore:
      - "benchmark*"
      - "wip*"
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        nvim-version:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install Neovim
        uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1
        with:
          neovim: true
          version: ${{ matrix.nvim-version }}

      - uses: Julian/setup-lean@c93774d9180849a5b6c4034c3c63d4544bdd943c
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
      - name: Run tests
        run: just test
        env:
          TEST_SEQUENTIAL: 1

  release:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')

    needs: ci
    runs-on: ubuntu-latest

    permissions:
      attestations: write
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Upload to LuaRocks
        uses: nvim-neorocks/luarocks-tag-release@adbca66e871a519055f4917c6af5fbf19f656f5d
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
      - name: Create a GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          generate_release_notes: true
