name: Regenerate Documentation

on:
  push:
    branches-ignore:
      - "benchmark*"
      - "wip*"
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true

      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
      - name: Install Neovim
        uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1
        with:
          neovim: true
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
      - name: Install vimcats
        run: cargo install vimcats --features=cli --force

      - name: Generate docs
        run: just docs

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3
        with:
          branch: ${{ github.head_ref }}
          commit_message: "Regenerate vimdocs"
          file_pattern: doc/*.txt
